:root {
    --primary-color:#E7C3A1;
    --text-dark: #2c2724;
    --white: #ffffff;
  }
  
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .btn {
    outline: none;
    border: none;
    transition: 0.3s;
    cursor: pointer;
  }
  
  img {
    display: flex;
    width: 100%;
  }
  

  
  .cantainer {
    margin: auto;
    padding: 5rem 0;
    position: relative;
    isolation: isolate;
    display: grid;
    gap: 2rem;
    overflow: hidden;
    
  }
  
  .cantainer__left {
    padding-inline: 2rem;
    text-align: center;
    text-align: flex-end;
    animation: fadeInUp 2s ease;
  }

  .cantainer__left p{
    padding-right: 11px;
  }
  
  .cantainer__left h1 {
    margin-bottom: 2rem;
    font-size: 3.3rem;
    font-weight: 600;
    line-height: 4.3rem;
    color: var(--text-dark);
  }
  .cantainer__left h1::after{
    content: "";
    height: 4px;
    width: 250px;
    background: #e11e25;
    display: block;
}
  
  .cantainer__left .btn {
    padding: 1rem 2rem;
    letter-spacing: 2px;
    color: var(--white);
    background-color: var(--text-dark);
    border-radius: 5rem;
  }
  
  .cantainer__left .btn:hover {
    color: var(--text-dark);
    background-color: var(--primary-color);
  }
  
  .cantainer__right {
    position: relative;
    isolation: isolate;
    display: grid;
    gap: 2rem;
  }
  
  .cantainer__right::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    transform-origin: left;
    height: 80%;
    background-color: var(--primary-color);
    border-radius: 1rem;
    z-index: -1;
  
    animation: show 0.75s 1.25s ease-in-out forwards;
  }
  
  @keyframes show {
    0% {
      width: 0;
    }
    100% {
      width: calc(100% - 2rem);
    }
  }
  
  .images {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .tent-1 {
    max-width: 300px;
    transform: translateX(1rem);
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);

  }
  
  .tent-2 {
    max-width: 180px;
    transform: translateX(-1rem);
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    /* animation: fadeInRight 2s ease; */
  }
  
  .contentx {
    padding-block: 0 5rem;
    padding-inline: 2rem;
    text-align: center;
  }
  
  .contentx h4 {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-dark);
  }
  
  .contentx h2 {
    margin-bottom: 0.5rem;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 2px;
    color: var(--text-dark);
  }
  
  .contentx h3 {
    margin-bottom: 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-dark);
  }
  
  .contentx p {
    line-height: 1.75rem;
    color: var(--text-dark);
     animation: fadeInRight 2s ease;
  }
  
  .location {
    position: absolute;
    left: 1rem;
    bottom: 1rem;
    padding: 1rem 2rem 1rem 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 0.9rem;
    font-weight: 600;
    color: var(--text-dark);
    background-color: var(--primary-color);
    border: 10px solid var(--white);
    border-bottom: none;
  }
  
  .location span {
    padding: 5px 10px;
    font-size: 1.5rem;
    color: var(--text-dark);
    background-color: var(--white);
    border-radius: 10px;
    display: flex;
    justify-content: center;
  }
  
  .socials {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .socials a {
    font-size: 1.25rem;
    color: var(--text-dark);
  }
  
  @media (width > 768px) {
    nav {
      position: static;
      padding: 2rem 1rem;
      max-width: var(--max-width);
      margin-inline: auto;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 2rem;
    }

  
    .cantainer {
      grid-template-columns: 2fr 3fr;
      align-items: center;
      padding: 2rem 0;
    }
  
    .cantainer__left {
      text-align: left;
    }
    .cantainer__left h1::after{
      content: "";
      height: 4px;
      width: 250px;
      background: #e11e25;
      display: block;
      /* margin: auto; */
  }
  }
  
  @media (width > 1024px) {
    .cantainer__right {
      grid-template-columns: 1fr 2fr;
      align-items: center;
    }
  
    .cantainer__right::before {
      bottom: unset;
      top: 0;
      height: 90%;
    }
  
    .images {
      flex-direction: column;
    }
  
    .tent-1 {
      width: calc(100% + 10rem);
      max-width: 325px;
      transform: translate(-2rem, 2rem);
    }
  
    .tent-2 {
      max-width: 200px;
      transform: translate(4rem, -1rem);
    }
  
    .contentx {
      padding-block: 5rem;
      text-align: left;
      max-width: 400px;
      margin-inline-start: unset;
    }
 
  }

  @media screen and (max-width:768px) {
    .cantainer__left h1 {
      margin-bottom: 1rem;
      font-size: 3.rem;
      font-weight: 600;
      line-height: 4.3rem;
    }
  }
  @media screen and (max-width:500px) {
    .cantainer__left h1 {
      font-size: 2rem;
      line-height: 2.5rem;
    }
    .cantainer {
      padding: 4rem 0;
      display: grid;
      gap: 2rem;
      
    }
  }